body {
  background-color: #F2F2F2;
  font-family: sans-serif;
  color: black;
  margin: 0px;
  text-align: center;
}
#header a {
  width: 100%;
  text-decoration: none;
}
#header ul {
    list-style-type: none;
    text-align: center;
    width: 100%;
    background-color: black;
    padding:10px;
    margin: 0px;
}

#header ul li {
display: inline;
color: white;
background-color: black;
}
#header a:hover {
  background-color: purple;
}
#header li a {
  padding: 10px;
  border-radius: 3px;
}
a:link {
  color:green;
}
a:visited {
color: orange;
}
a:hover {
  color:orange;
}
a:active {
  color: orange;
}
.videos {
  max-width: 640px;
  max-height: 480px;
  min-width: 160px;
  min-height: 120px;
  width: 100%;
  height: auto;
}
