body {
  background-color: #F2F2F2;
  font-family: sans-serif;
  color: black;
}
#header a {
  display: block;
  width: 100%;
  text-align: center;
  list-style-type: none;
  text-decoration: none;

}
#header ul li {
padding: 10px;
border-radius: 3px;
color: white;
background-color: black;
margin:2px;
float: left;
}
a:link {
  color:purple;
}
a:visited {
color: orange;
}
a:hover {
  color:orange;
}
a:active {
  color: orange;
}
